<h1>Fictive Automotive Parts Supplier Company Inc. - Tool Finder</h1>
<img src="../assets/banner.jpg"/>
<p>Welcome to the Tool Finder app, a handy tool for finding the right tools for your automotive parts production.</p>
<p>Whether you need to drill, cut, tap or perform any other operation on your parts, this app will help you select the
     best tools for the job. Simply select the operation you want to perform, and the app will show you a list of suitable
      tools from our catalog. To learn more about the tools, just click the corresponding link! With the Tool Finder app,
       you can save time and money, and improve the quality of your parts. Try it today and see for yourself!</p>
<app-operation-list></app-operation-list>